[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlacodegen = "*"
psycopg2 = "==2.7.3.1"  # required fix version by normal python code on ubuntu 16.04 python 3.6.9

[requires]
python_version = "3.6"
